@{
    ViewData["Title"] = "AccessDenied";
}
@ViewData["Layout"] = null;

<style>
    .AccessDenied {
        position: relative;
        text-align: center;
        height: 400px;
        width: 400px;
        margin: 150px auto;
        background-image: url(../Images/AccessDenied.png);
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }

        .AccessDenied h1 {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            margin: 0;
            width: 100%;
            text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
        }

        .AccessDenied h6 {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            margin: 0;
            width: 100%;
            text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
        }
</style>

<div class="AccessDenied text-center" style="margin-top:150px">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">You do not have Permission to view this resource</h6>
</div>