@{
    ViewData["Title"] = "AccessDenied";
}
@ViewData["Layout"] = null;

<style>
    .AccessDenied {
        position: relative;
        text-align: center;
        height: 400px;
        width: 400px;
        margin: 150px auto;
        background-image: url(../Images/AccessDenied.png);
        background-color: #ddd;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }

        .AccessDenied h1 {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            margin: 0;
            width: 100%;
            text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
        }

        .AccessDenied h6 {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            margin: 0;
            width: 100%;
            text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
        }

        .buttons {
            width: 100px;
            position: relative;
            text-align: center;
            align-content: center;
            cursor: pointer;
            border-radius: 8px;
            display: inline-block;
            padding: 0.5rem 1rem;
            background-color: rgba(255, 255, 255, 0.2);
            color: #fff;
            font-weight: bold;
            text-decoration: none;
            transition: 0.2s ease;
            backdrop-filter: blur(24px);
            -webkit-backdrop-filter: blur(24px);
            transition: all 0.4s ease;
        }

        .buttons:hover {
            color: #c0e7e5;
            background: brown;
            transition: all 0.4s ease;
        }
</style>

<div class="AccessDenied text-center" style="margin-top:150px">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">You do not have Permission to view this resource</h6>
</div>
<div class="text-center" style="margin:-100px 0 200px 0"><a class="buttons" asp-area="" asp-controller="Home" asp-action="Index">Go Back</a></div>