@using Microsoft.AspNetCore.Identity;
@using BadmintonBooking.ViewModels;
@model ChangePasswordViewModel
@inject UserManager<IdentityUser> userManager;
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_Notification" />
<style>
    .form-control-sm {
        font-size: 0.75rem; 
        padding: 0.1rem; 
    }

    .form-group-p label{margin-bottom: 8px; background: #333; color: white; padding: 3px 5px 0 5px; border-radius: 8px; transition: transform 0.3s ease;}
    .form-group-p::placeholder{color: rgba(0, 0, 0, 1); opacity: 0.5; transition: 0.2s ease; }
    .form-group-p input {
        outline: none;
        padding: 6px 30px;
        line-height: 30px;
        width: 280px;
        border-radius: 10px;
        border: 2px solid #333;
        background: #ddd;
        color: #333;
        transition: 0.2s ease;
    }

    .form-group-p input:focus-within {
        background: #333;
        color: white;
        border: 2px solid #4285F4;    
        width: 300px;
        transition: 0.2s ease;
    }

    .form-group-p:focus-within label {
        transform: translateX(20%) translateY(65%);
        background: #4285F4;
        color: #ccc;
        transition: 0.2s ease;
    }

    .labels h5 {
        font-size: 0.8rem;
    }

    .form-group-p input:focus-within::placeholder{color: white; opacity: 0.9; transition: 0.2s ease}

    .profile-button {
        padding: 0.4rem 0.8rem;
        font-size: 0.75rem;
    }

    .form-group, .row {
        margin-bottom: 0.3rem;
    }

    .container {
        padding-top: 0.5rem;
    }

    .log-body {
        font-size: 0.75rem;
        overflow-x: hidden;
        overflow-y: auto;
    }
</style>
<body class="log-body">
    <script src="~/js/script.js"></script>
    <div class="container rounded bg-gray mt-4 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="~/images/150.png" style="outline: 2px solid darkgray" />
                    <span class="font-weight-bold"><i class="fa-solid fa-user" style="color: black"></i>Profile</span>
                    <span class="text-black-50">@userManager.GetUserAsync(User)?.Result?.UserName</span>
                    <span> </span>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <form method="post" asp-action="ChangeCurrentPassword" asp-controller="Account">
                       
                        <div class="form-group-p row mt-3">
                            <div class="col-md-12">
                                <label class="labels"><h5>Current Password</h5></label>
                                <input asp-for="CurrentPassword" class="form-control" type="password" placeholder="Enter Current Password" />
                                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group-p row mt-3">
                            <div class="col-md-12">
                                <label class="labels"><h5>New Password</h5></label>
                                <input asp-for="NewPassword" class="form-control" type="password" placeholder="Enter New Password" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group-p row mt-3">
                            <div class="col-md-12">
                                <label class="labels"><h5>Confirm New Password</h5></label>
                                <input asp-for="ConfirmNewPassword" class="form-control" type="password" placeholder="Enter New Password" />
                                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <button type="submit" class="btn btn-primary profile-button">Update Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
