@using Microsoft.AspNetCore.Identity;
@using BadmintonBooking.ViewModels;
@model ChangePasswordViewModel
@inject UserManager<IdentityUser> userManager;
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_Notification" />
<style>
    .form-control-sm {
        font-size: 0.75rem; /* Smaller text size */
        padding: 0.1rem; /* Smaller padding */
    }

    .labels h5 {
        font-size: 0.75rem; /* Smaller label text size */
    }

    .profile-button {
        padding: 0.4rem 0.8rem; /* Smaller button padding */
        font-size: 0.75rem; /* Smaller button text size */
    }

    .form-group, .row {
        margin-bottom: 0.3rem; /* Reduced margin between form groups */
    }

    .container {
        padding-top: 0.5rem; /* Reduced padding at the top of the container */
    }

    .log-body {
        font-size: 0.75rem; /* Smaller overall body text size */
    }
</style>
<body class="log-body">
    <div class="container rounded bg-gray mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="~/pictures/AcbjLGadi.jpg" />
                    <span class="font-weight-bold">Edogaru</span>
                    <span class="text-black-50">@userManager.GetUserAsync(User)?.Result?.UserName</span>
                    <span> </span>
                </div>
            </div>
            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <form method="post" asp-action="ChangeCurrentPassword" asp-controller="Account">
                       
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label class="labels"><h5>Current Password</h5></label>
                                <input asp-for="CurrentPassword" class="form-control" type="password" />
                                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label class="labels"><h5>New Password</h5></label>
                                <input asp-for="NewPassword" class="form-control" type="password" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label class="labels"><h5>Confirm New Password</h5></label>
                                <input asp-for="ConfirmNewPassword" class="form-control" type="password" />
                                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <button type="submit" class="btn btn-primary profile-button">Update Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
