@using demobadminton.ViewModels
@model Response
@{
    ViewData["Title"] = "ForgetPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ForgetPasswordConfirmation</h1>
<div class="container" style="margin-top:150px;height:150px">
    <div class="row">
        <div class="col-6 offset-3" style="top:50%;right:25%">
            @if (Model.Message == "Your password has been successfully reset")
            {
                
                <div class="alert alert-success" role="alert">
                    @Model.Message, If you want to log in then click <a asp-action="Login" asp-controller="Account" class="btn btn-sm btn-primary ">Login</a>
                </div>

            }
            else if (Model.Message == "Thank you for confirming your email"){
                <div class="alert alert-success" role="alert">
                    @Model.Message, If you want to log in then click <a asp-action="Login" asp-controller="Account" class="btn btn-sm btn-primary ">Login</a>
                </div>

            }
            else if (Model.Message == "Please check your email for verification")
            {
                 <div class="alert alert-success" role="alert">
                    @Model.Message,
                </div>
            }
            else
            {
                <div class="alert alert-success" role="alert">
                    Your<strong> @Model.Message</strong> has been sent to Registered Email,check your email to reset your password.<a href="#"></a>
                </div>
            }
           
            <div class="d-grid">
                <a asp-action="Login" asp-asp-controller="Account" class="btn btn-warning  btn-block ">Back</a>

            </div>

        </div>
    </div>
</div>
