

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body style="font-family:system-ui">
    <div>
        <table align="center">
           <tr>
               <td>
                   <table style="background-color:#0d494c" width="500px" align="center">
                       <tbody>
                           <tr>
                               <td>
                                   <table>
                                       <tr>
                                           <td height="43" align="center">
                                               <h1 style="color:#fff;line-height:1rem">{{title}}</h1>
                                           </td>
                                       </tr>
                                   </table>
                               </td>
                           </tr>
                       </tbody>
                   </table>
                   <table style="width:500px;background-color:azure" align="center">
                       <tr>
                           <td style="padding:20px 20px 0px 0px" align="left">
                               <p style="text-align:justify;margin-top:0px">
                                You are receiving this message because you have recently signed up for a
                                </br>
                                <b><em>Badminton Court website</em></b> 
                                Confirm your email address by clicking the button below
                               </p>
                               <div style="text-align:center;margin-top:30px;margin-bottom:30px   ">
                                   
                               <a href="{{callbackUrl}}" style="background-color:blue;color:white;
padding:8px 15px;text-decoration:none;border-radius:10px">Confirm Email</a>

                               </div>
                               <p style="text-align:center;margin-top:0px">This link will expire in <b style="color:red"><i>24 hours</i></b></p>
                           <div style="text-align:center">
                               <a href="" target="_blank"></a>
                           </div>
                           </td>
                       </tr>
                   </table>
               </td>
           </tr>
        </table>
    </div>
</body>
</html>
