

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <div>
        <table align="center">
            <tr>
                <td>
                    <table style="background-color:darkcyan;width:500px" align="center">
                        <tr>
                            <td>
                                <h1 style="text-align:center;color:white">{{title}}</h1>
                            </td>
                        </tr>

                    </table>
                    <table style="background-color:azure;width:500px"align="center">
                        <tr>
                            <td>
                                <h1 style="text-align:center;font-size:large;">Congratulation!You're registered'</h1>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding:20px">
                                <p style="margin:0px"> Hi<b><i>{{Username}}</i></b>,</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left:20px">
                                <p style="text-align:justify;margin-top:0px">
                                    Dear <b><i>{{Username}}</i></b>,You are authorized to access the web
                                </p>
                                <div>
                                    Now click then login <a href="{{url}}" style="background-color:blue;color:white;text-decoration:none;border-radius:10px">Login</a>
                                </div>
                                <p>
                                    <b>
                                        Thank <br/>

                                    </b>
                                </p>
                            </td>
                        </tr>


                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
