@{
	ViewData["Title"] = "About Us";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="about-section">
	<script src="~/js/script.js"></script>
	<div class="intro-section">
		<h1>About Us</h1>
		<div class="description">
			<img src="~/images/photo-1536598774668-2eeb8a1a5f99.png" class="image">
			<p>Your premier destination for booking badminton courts easily and efficiently. Our platform provides a seamless experience for badminton enthusiasts to reserve courts at their convenience.</p>
	
		</div>
	</div>

	<div class="specialty-section text-center">
		<h2>Our Specialty</h2>
		<div class="description1">
			<p>We specialize in offering a user-friendly interface for booking badminton courts, ensuring availability, and providing detailed information on court features. Our system is designed to handle high traffic and offers real-time updates on court availability.</p>
			<img src="~/images/photo-1626224583764-f87db24ac4ea.png" class="image">
		</div>
	</div>

	<div class="team-section">
		<h2 class="text-center">Meet Our Team</h2>
		<div class="rows">
			<div class="col-md-4 team-member text-center">
				<img src="~/images/150.png" class="rounded-circle" alt="Team Member 1">
				<h5>Nguyễn Ngọc Khương Duy</h5>
				<p>Project Manager</p>
			</div>
			<div class="col-md-4 team-member text-center">
				<img src="~/images/150.png" class="rounded-circle" alt="Team Member 2">
				<h5>Nguyễn Hữu Thiện</h5>
				<p>Lead Developer</p>
			</div>
			<div class="col-md-4 team-member text-center">
				<img src="~/images/150.png" class="rounded-circle" alt="Team Member 3">
				<h5>Trương Đại Dĩ</h5>
				<p>Program Tester</p>
			</div>
			<div class="col-md-4 team-member text-center">
				<img src="~/images/150.png" class="rounded-circle" alt="Team Member 4">
				<h5>Đặng Bá Văn</h5>
				<p>UX/UI Designer</p>
			</div>
		</div>
	</div>


	<script src="~/js/script.js"></script>

</body>