@{
	ViewData["Title"] = "Booking";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="book1">
    
    <script src="~/js/script.js"></script>

    <div class="container my-4">
        <div class="container2">
            <img src="~/pictures/Badminton Court.jpg" class="mainimg" alt="Badminton Court">
        </div>
        <div class="Badmintontitle"><h3>Sân cầu lông A</h3></div>
        
        <div class="row mt-4">
            <div class="col-md-5">
                <div class="collapsible-header"><i class="fa-solid fa-circle-info"></i><h3>Mô tả</h3></div>
                <div class="badminton-info">
                    <p>Sân Cầu Lông A là sân cầu lông mới nhất tại Tây Ninh. Hệ Thống đèn, trụ và thảm được thi công bởi Siêu Thị Cầu Lông. Thảm cầu lông DKT chất lượng đạt chuẩn thi đấu, thảm êm chân, nâng cao chất lượng trận đấu. Đèn đảm bảo ánh sáng, không gây chói mắt khi đánh cầu.</p>
                    <p>Sân Cầu Lông A mang đến cho bạn trải nghiệm tuyệt vời.</p>
                </div>
                <div class="mt-3"><i class="fa-solid fa-map"></i> Bản đồ</div>
                <div class="mt-3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.224728496361!2d106.77339957770091!3d10.87050476165358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175277dbf11a271%3A0x4567e34b99494e3f!2zxJDhuqFpIEjhu41jIEtpbmggVOG6vyAtIEx14bqtdCwgxJDhuqFpIEjhu41jIFF14buRYyBHaWEgVFAuSENNIFVFTA!5e0!3m2!1svi!2sus!4v1717080414646!5m2!1svi!2sus" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col-md-7">
                <div class="collapsible-header"><i class="fa-solid fa-circle-info"></i><h3>Hình ảnh</h3></div>
                <div>
                    <section class="container3">
                        <div class="slider-wrapper">
                            <div class="slider"> 
                                <img id="slide-1" src="~/pictures/court1.jpg" alt="Court 1">
                                <img id="slide-2" src="~/pictures/court3.jpg" alt="Court 2">
                                <img id="slide-3" src="~/pictures/court4.jpg" alt="Court 3">
                            </div>
                            <div class="slider-nav">
                                <a href="#slide-1"></a>
                                <a href="#slide-2"></a>
                                <a href="#slide-3"></a>
                            </div>                        
                        </div>
                    </section>
                </div>
                <a asp-area="" asp-controller="Home" asp-action="Date" class="btn btn-primary" style="width: 100px; height: 50px; margin-left: 450px;">Đặt sân</a>
                <div class="row mt-4">
                    <div class="col-md-9 card mb-3">
                        <div>
                            <i class="fa-solid fa-circle-info"></i> <p>Thông tin chi tiết</p>
                            <p><i class="fa-solid fa-map"></i> TPHcm Quận 1</p>
                            <p><i class="fa-solid fa-clock"></i> 5:00</p>
                            <p><i class="fa-solid fa-phone"></i> 12345678</p>
                            <p><i class="fa-solid fa-money-bill"></i> 125/hrs</p>
                        </div>
                    </div>
                    <div class="col-md-3 card">
                        <div>
                            <i class="fa-solid fa-list"></i> Tiện ích
                        </div>
                        <div>
                            <p><i class="fa-solid fa-circle-check"></i> Chỗ gửi xe</p>
                            <p><i class="fa-solid fa-circle-check"></i> Trong nhà</p>
                            <p><i class="fa-solid fa-circle-check"></i> Thi đấu</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.querySelectorAll('.slider-nav a').forEach((navDot, idx) => {
            navDot.addEventListener('click', (e) => {
                e.preventDefault();
                const slider = document.querySelector('.slider');
                slider.scrollTo({
                    left: slider.clientWidth * idx,
                    behavior: 'smooth'
                });
            });
        });
    </script>
</body>