@{
    ViewData["Title"] = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="book1">
    <script src="~/js/script.js"></script>

<div class="container container1">
    <div class="main-content col-md-9">
        <h1 class="text-center">Badminton Court Information</h1>
        <img src="~/pictures/badmintoncourt.jpeg" class="main-image">
        <form class="form-inline mt-3">
            <div class=" col-sm-5">
                <input type="text" class="form-control mb-2" placeholder="Nhập tên sân cầu lông">
            </div>
            <div class="col-sm-3">
                <select class="form-select">
                    <option>Sân cầu lông a</option>
                    <option>Sân cầu lông b</option>
                    <option>Sân cầu lông c</option>
                    <option>Sân cầu lông d</option>
                </select>
            </div>
            <div>
                <button class="btn btn-primary ml-2 mb-2">Tìm kiếm</button>
            </div>



        </form>
        <div class="court-item">
            <div class="row">
                <div class="col-5 col-md-4"><img src="~/pictures/court.jpg" width="300" height="220"></div>
                <div class="col-md-5 col-7">
                    <a href="index2.html" style="text-decoration: none; color: black;"><p>sân cầu lông vip pro</p></a>
                    <br />
                    <p><i class="fa-solid fa-location-dot"></i>Hồ chí minh </p>
                    <br />
                    <p><i class="fa-solid fa-phone"></i>12345678</p>
                    <br />
                    <p><i class="fa-solid fa-money-bill"></i>500.000</p>
                </div>
                <div class="col-3 d-md-block d-none"><p>Sân Cầu Lông MINH Sport, Trảng Bàng, Tây Ninh là sân cầu lông mới nhất tại Tây Ninh. Hê Thống đèn, trụ và thảm được thi công bởi Siêu Thị Cầu Lông. Thảm cầu lông DKT chất lượng đạt chuẩn thi đấu, ..</p></div>

            </div>

        </div>
        <div class="court-item">
            <div class="row">
                <div class="col-5 col-md-4"><img src="~/pictures/court.jpg" width="300" height="220"></div>
                <div class="col-md-5 col-7">
                    <p>sân cầu lông vip pro</p>
                    <br />
                    <p><i class="fa-solid fa-location-dot"></i>Hồ chí minh </p>
                    <br />
                    <p><i class="fa-solid fa-phone"></i>12345678</p>
                    <br />
                    <p><i class="fa-solid fa-money-bill"></i>500.000</p>
                </div>
                <div class="col-3 d-md-block d-none"><p>Sân Cầu Lông MINH Sport, Trảng Bàng, Tây Ninh là sân cầu lông mới nhất tại Tây Ninh. Hê Thống đèn, trụ và thảm được thi công bởi Siêu Thị Cầu Lông. Thảm cầu lông DKT chất lượng đạt chuẩn thi đấu, ..</p></div>

            </div>

        </div>
        <div class="court-item">
            <div class="row">
                <div class="col-5 col-md-4"><img src="~/pictures/court.jpg" width="300" height="220"></div>
                <div class="col-md-5 col-7">
                    <p>sân cầu lông vip pro</p>
                    <br />
                    <p><i class="fa-solid fa-location-dot"></i>Hồ chí minh </p>
                    <br />
                    <p><i class="fa-solid fa-phone"></i>12345678</p>
                    <br />
                    <p><i class="fa-solid fa-money-bill"></i>500.000</p>
                </div>
                <div class="col-3 d-md-block d-none"><p>Sân Cầu Lông MINH Sport, Trảng Bàng, Tây Ninh là sân cầu lông mới nhất tại Tây Ninh. Hê Thống đèn, trụ và thảm được thi công bởi Siêu Thị Cầu Lông. Thảm cầu lông DKT chất lượng đạt chuẩn thi đấu, ..</p></div>

            </div>

        </div>
    </div>
    <div class="col-md-3">
        <aside class="aside-right">
            <h3>Các sân nổi bật tại việt nam</h3>
            <div class="aside-item">
                <img src="~/pictures/court.jpg" class="aside-image">
                <div class="text-content">
                    <a href="index2.html" style="text-decoration: none;"><p class="bold-text">SÂN CẦU LÔNG NHƯ NHIÊN, BÌNH THẠNH, HCM</p></a>
                    <p><i class="fa-solid fa-location-dot"></i> PHƯỜNG 28, QUẬN BÌNH THẠNH, Hồ Chí Minh</p>
                </div>
            </div>
            <div class="aside-item">
                <img src="~/pictures/court.jpg" class="aside-image">
                <div class="text-content">
                    <p class="bold-text">SÂN CẦU LÔNG NHƯ NHIÊN, BÌNH THẠNH, HCM</p>
                    <p><i class="fa-solid fa-location-dot"></i> PHƯỜNG 28, QUẬN BÌNH THẠNH, Hồ Chí Minh</p>
                </div>
            </div>
            <div class="aside-item">
                <img src="~/pictures/court.jpg" class="aside-image">
                <div class="text-content">
                    <p class="bold-text">SÂN CẦU LÔNG NHƯ NHIÊN, BÌNH THẠNH, HCM</p>
                    <p><i class="fa-solid fa-location-dot"></i> PHƯỜNG 28, QUẬN BÌNH THẠNH, Hồ Chí Minh</p>
                </div>
            </div>
            <div class="aside-item">
                <img src="~/pictures/court.jpg" class="aside-image">
                <div class="text-content">
                    <p class="bold-text">SÂN CẦU LÔNG NHƯ NHIÊN, BÌNH THẠNH, HCM</p>
                    <p><i class="fa-solid fa-location-dot"></i> PHƯỜNG 28, QUẬN BÌNH THẠNH, Hồ Chí Minh</p>
                </div>
            </div>
            <div class="aside-item">
                <img src="~/pictures/court.jpg" class="aside-image">
                <div class="text-content">
                    <p class="bold-text">SÂN CẦU LÔNG NHƯ NHIÊN, BÌNH THẠNH, HCM</p>
                    <p><i class="fa-solid fa-location-dot"></i> PHƯỜNG 28, QUẬN BÌNH THẠNH, Hồ Chí Minh</p>
                </div>
            </div>
            <div class="aside-item">
                <img src="~/pictures/court.jpg" class="aside-image">
                <div class="text-content">
                    <p class="bold-text">SÂN CẦU LÔNG NHƯ NHIÊN, BÌNH THẠNH, HCM</p>
                    <p><i class="fa-solid fa-location-dot"></i> PHƯỜNG 28, QUẬN BÌNH THẠNH, Hồ Chí Minh</p>
                </div>
            </div>
        </aside>
    </div>
</div>

</body>
