@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var courts = new List<dynamic>
	{
		new { Name = "Court 1", Description = "Indoor court with hardwood flooring.", ImageUrl = "image1_full.png" },
		new { Name = "Court 2", Description = "Outdoor court with synthetic surface.", ImageUrl = "image2_full.png" },
		new { Name = "Court 3", Description = "Indoor court with rubber flooring.", ImageUrl = "image3_full.png" }
	};
}

<body>
	<script src="~/js/script.js"></script>

	<section class="Quote">
		<div>
			<div>We Offer You Our <span class="typing"></span></div>
			<div>Badminton Courts</div>
		</div>
	</section>

	<section class="heading" id="home">
		<div class="outter-container">
			<div class="welcome-container">
				<h2>Welcome</h2>
				<p>Your satisfaction is our priority. We offer our great fields to meet your needs.</p>
				<h4>Get started!</h4>
				<a href="#BookingType" class="button">Book Now!</a>
			</div>
		</div>
	</section>

	<div class="welc-images">
		<img class="welc1-image" src="~/images/badminton-emnmmr8ioymey8eu.jpg" />
		<img class="welc2-image" src="~/images/badminton_rackets_image.png" />
	</div>

	<div class="shape">
	<section id="BookingType" class="BookingType">
			<h2>--Featured Courts--</h2>
			<div class="court-list">
				@foreach (var court in courts)
				{
					<div class="court-card">
						<img src="~/images/@court.ImageUrl" alt="@court.Name">
						<h2>@court.Name</h2>
						<p>@court.Description</p>
						<div class="buttons">
							<a asp-area="" asp-controller="Home" asp-action="Book" class="button">Details</a>
							<a asp-area="" asp-controller="Home" asp-action="Book2" class="button">Book</a>
						</div>
					</div>
				}
			</div>
	</section>

	<section id="contact" class="contact-section">
		<div class="con-container">
			<h2>Contact Us</h2>
			<form>
				<label for="name">Name:</label>
				<input type="text" id="name" placeholder="Enter Name" name="name" required>

				<label for="email">Email:</label>
				<input type="email" id="email" placeholder="Enter Email" name="email" required>

				<label for="message">Message:</label>
				<textarea id="message" placeholder="Enter Name" name="message" required></textarea>

				<button type="submit">Send</button>
			</form>
		</div>
	</section>
	</div>

	<footer class="border-top footer text-muted">
		<div class="footer-container">
			&copy; 2024 - BadmintonBooking - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
</body>
